@import "../../assets/styles/variables.scss";

.container {
  width: 100%;
  color: $golden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px;

  > h2 {
    color: $spaceBlue;
  }

  > p {
    font-size: 24px;
    font-weight: 600;
  }

  &_loader {
    padding: 70px 0;
  }

  &_slots {
    text-align: left;
    color: $spaceBlue;
  }
  &_slotsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
  }

  &_nftsBlock {
    padding: 50px 0;
    &_tokenSection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      > h3 {
        color: $spaceBlue;
      }
      &_tokenNfts {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }

  &_seeMoreWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}

@media (max-width: $small-screen) {
  .container {
    > p {
      font-size: 20px;
    }
    &_nftsBlock {
      row-gap: 35px;
    }
  }
}
