@import "../../assets/styles/variables.scss";
@import "../../assets/styles/global.scss";

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px;
  color: $golden;
  font-size: 20px;
  background-color: $darkBlue;
  &_gameRules {
    > h2 {
      color: $spaceBlue;
    }
    > p {
      color: $golden;
    }
  }
  &_gameInstructions {
    > h2 {
      color: $spaceBlue;
    }
    > p {
      color: $golden;
    }
  }

  @media (max-width: $small-screen) {
    &_gameRules {
      > ul {
        > li {
          font-size: 18px;
        }
      }
    }
    &_gameInstructions {
      > ul {
        > li {
          font-size: 18px;
        }
      }
    }
  }
}
