$error: #d70000;

$lime: #aef359;
$chartreuse: #b0fc38;
$green: #3cb043;
$olive: #98bf64;
$emerald: #028a0f;

$white: #fffdfa;

$darkBlue: #000000d6;
$lightBlue: #474a4e;
$spaceBlue: #0078d4;
$spaceLightBlue: #00b7ff;

$default-screen: 1280px;
$large-screen: 1200px;
$laptop-screen: 1024px;
$medium-screen: 992px;
$small-screen: 768px;
$mobile-screen: 480px;

