$error: #d70000;

$lime: #aef359;
$chartreuse: #b0fc38;
$green: #3cb043;
$olive: #98bf64;
$emerald: #028a0f;

$white: #fffdfa;

$darkBlue: #1c1f11;
$lightBlue: #474a4e;

$default-screen: 1280px;
$large-screen: 1200px;
$medium-screen: 992px;
$small-screen: 768px;
$mobile-screen: 480px;
